@model LGX.Models.Shelf

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shelf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Customer Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>
        <dt>
            Movie Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelayRack.Id)
        </dd>
        <dt>
            Title
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelayRack.Name)
        </dd>
        <dt>
            Genre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelayRack.RackNumber)
        </dd>
        <dt>
            Comment
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelayRack.Comment)
        </dd>
        <dt>
            Release Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelayRack.Isle)
        </dd>
        <dt>
            Release Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelayRack.Isle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
